body{

    background-color:lightblue;
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header{
    width: 95%;
    height: 95%;
    border: 5px solid #DDD;
    background-color:tomato;
    text-align: center;
}

header h1 {
    font-size: 28px;
}

main{

    width: 50%;
    height: auto;
    margin-top: 50px;
    border: 5px solid #DDD;
    background-color: teal;
    text-align: center;
}



ul{
    padding: 0;
    list-style-type: none;  
    display: flex;
    flex-wrap: wrap;
}

li{
    margin: 5px auto; 
    border: 3px solid #DDD;
}

h3{
    margin: 3px;
    display: inline;
}

p{
    margin: 3px;
    display: inline;
}


footer{

    position: absolute;
    bottom: 0;
    width: 99%;
    height: auto;
    border: 5px solid #DDD;
    background-color: seagreen;
    text-align: center;
}
