body{

    background-color:lightblue;
    font-family:'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;

}

main{

    width: 50%;
    height: 150px;
    margin-top: 50px;
    border: 5px solid #DDD;
    background-color: teal;
    text-align: center;
}



